@page
@model Kona.Pages.UpdatePostsModel
@{
    ViewData["Title"] = "Update";
}

<form method="post" enctype="multipart/form-data">
    <input asp-for="files" type="file" multiple />
    <input type="submit">
</form>